.ProseMirror {
  padding: 12px;
  outline: none;
  min-height: 280px;
}
.editor-container {
  border: 1px solid #ddd;
}
.editor-container:focus-within {
  border-color: #0066cc;
  box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.2);
}
/* qti-simple-choice {
  user-select: unset;
  cursor: unset;
} */
qti-choice-interaction {
  display: block;
  margin: 16px 0;
  border: 1px solid #46a1fd;
}
