/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */
@import url("base.css");

.qti-customInteraction .decisiontask .prompt {
    position:relative;
    margin-bottom: 10px;
}

.globalWrapper {
    text-align: center;
}

.itemWrapper {
    width: 450px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.startbutton {
    width : 420px;
    height: 130px !important;
    line-height: 120px !important;
    background-color: #989da3 !important;
    padding: 5px !important;
    margin: 10px;
}

.endmsgcontainer {
    width : 420px;
    height: 130px;
    line-height: 120px;
    font-size: 15px;
    color: #fff;
    background-color: #989da3; 
    text-shadow: 1px 1px 0 #83878e;
    padding: 5px !important;
    margin: 10px;
    display: inline-block;
}

.stimuluscontainer, .endmsgcontainer{
    border-radius: 3px;
    text-align: center;
    padding: 5px !important;
}

.stimuluscontainer {
    width : 450px;
    height: 80px;
    background-color: #ace0f4; 
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stimulustext {
    font-size: 22px;
    color: #25221e;
}

.buttoncontainer {
    text-align: center;
    display:inline-block;
}

.respbutton {
    width : 100px;
    height: 40px !important;
    line-height: 30px !important;
    padding: 5px !important;
    background-color: #266d9c !important;
    text-shadow: 1px 1px 0 #0b4a74 !important;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
}

/* Specificity needed to overwrite TAO css */
.decisiontask .buttoncontainer button.correct {
    background-color:green !important;
}

/* Specificity needed to overwrite TAO css */
.decisiontask .buttoncontainer button.incorrect {
    background-color:red !important;
}

/* Specificity needed to overwrite TAO css */
.decisiontask .buttoncontainer button.feedbackcorrect {
    border: solid;
    border-color: #128103;
}

.decisiontask .buttoncontainer button.respkeybutton  {
    text-shadow: 1px 1px 0 rgba(255,255,255,0.1) !important;
    opacity: .75 !important;
    color: #000 !important;
    cursor: auto  !important;
}

