/* PK: Tailwind theming file for all qti-components
  Uses tailwind components and utilities from the other files

  https://play.tailwindcss.com/OFThGk8CbR
  https://play.tailwindcss.com/CeHVrnwgXR
  https://play.tailwindcss.com/JOgoCf81JM

  You should in you project include modern-normalize.css

  Then we create tailwind components
  Then we consume these components in our qti-webcomponents

  outline: used for focus
  ring: used for border around the elements, can be active, its an inner ring, except for
  the dropping well, because that has to surround the drag with the inner ring

  There are 6 types
  - text    : text-entry and extended-text
  - select  : inline-choice
  - button  : .input-control-hidden qti-choice, qti-hotspot
  - check   : qti-choice, qti-hotspot
  - drag    : gap-match, match, order, associate
  - drop    : gap-match, match, order, associate
  - spot    : gap-select-point, graphic-order, qti-graphic-associate

  trying to get the follower modifiers to work:

  - sm   , for elements inside text
  - lg,  , for large readable containers
  - in  , inline in text

  taking into account cursors, select-none for some of the elements
*/

/* FIXMEs 
  Outline always on top, sometimes it slips under the hover background
  Intext with inline gaps does not align nicely with existing text https://play.tailwindcss.com/cJEGhvANwM
  modifiers can not be in components, like this example where red should be a modifier inside base https://play.tailwindcss.com/JSnnv1Vvab?file=css
  */

/* @layer base, components, utilities, variants; */

/* layout, dimensions, design */
/* QTI Interactions */
@import './qti-components.css';
@import './qti/qti-styles.css';
@import './qti/qti-layout.css';
@import './qti/qti-input-width.css';
@import './qti-interactions.css';
@import './qti-interactions.layout.css';
@import '../lib/qti-test/qti-test.css';
