.qti-input-width-1 {
  width: 1ch;
  min-width: 1ch;
}
.qti-input-width-2 {
  width: 2ch;
  min-width: 2ch;
}
.qti-input-width-3 {
  width: 3ch;
  min-width: 3ch;
}
.qti-input-width-4 {
  width: 4ch;
  min-width: 4ch;
}
.qti-input-width-6 {
  width: 6ch;
  min-width: 6ch;
}
.qti-input-width-10 {
  width: 10ch;
  min-width: 10ch;
}
.qti-input-width-15 {
  width: 15ch;
  min-width: 15ch;
}
.qti-input-width-20 {
  width: 20ch;
  min-width: 20ch;
}
.qti-input-width-72 {
  width: 72ch;
  min-width: 72ch;
}
