.qti-layout-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  --gap: 2.1276595745%: 
  gap: var(--gap);
}

.qti-layout-row [class*='qti-layout-col'] {
  box-sizing: border-box;
}

.qti-layout-col1  {width: 6.3829787234%;}
.qti-layout-col2  {width: 14.8936170213%;}
.qti-layout-col3  {width: 23.4042553191%;}
.qti-layout-col4  {width: 31.914893617%;}
.qti-layout-col5  {width: 40.4255319149%;}
.qti-layout-col6  {width: 48.9361702128%;}
.qti-layout-col7  {width: 57.4468085106%;}
.qti-layout-col8  {width: 65.9574468085%;}
.qti-layout-col9  {width: 74.4680851064%;}
.qti-layout-col10 {width: 82.9787234043%;}
.qti-layout-col11 {width: 91.4893617021%;}
.qti-layout-col12 {width: 100%;}

.qti-layout-offset1  { margin-left: 8.5106382979%; }
.qti-layout-offset2  { margin-left: 17.0212765957%; }
.qti-layout-offset3  { margin-left: 25.5319148936%; }
.qti-layout-offset4  { margin-left: 34.0425531915%; }
.qti-layout-offset5  { margin-left: 42.5531914894%; }
.qti-layout-offset6  { margin-left: 51.0638297872%; }
.qti-layout-offset7  { margin-left: 59.5744680851%; }
.qti-layout-offset8  { margin-left: 68.085106383%; }
.qti-layout-offset9  { margin-left: 76.5957446809%; }
.qti-layout-offset10 { margin-left: 85.1063829787%; }
.qti-layout-offset11 { margin-left: 93.6170212766%; }
.qti-layout-offset12 { margin-left: 102.1276595745%; }

@media (max-width:767px){
  [class*="qti-layout-col"] {width:100%;}
}
