@layer qti-utilities {
  .qti-underline {
    text-decoration: underline;
  }

  .qti-align-left {
    text-align: left;
  }

  .qti-align-center {
    text-align: center;
  }

  .qti-align-right {
    text-align: right;
  }

  .qti-valign-top {
    vertical-align: top;
  }

  .qti-valign-middle {
    vertical-align: middle;
  }

  .qti-valign-baseline {
    vertical-align: baseline;
  }

  .qti-valign-bottom {
    vertical-align: bottom;
  }

  .qti-fullwidth {
    width: 100%;
  }

  .qti-hidden {
    display: none;
  }

  .qti-visually-hidden {
    position: fixed !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    border: 0;
    margin: -1px;
    clip: rect(1px 1px 1px 1px);
  }

  .qti-bordered {
    padding: 2px;
    border: 1px solid #888;
  }

  .qti-well {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #d1d5db;
    color: #4b5563;
    background-color: #f3f4f6;
  }
}
