@layer qti-components {
  qti-match-interaction.qti-match-tabular {
    &::part(message) {
      @apply validation-message;
    }
    &::part(table) {
      border-collapse: collapse;
      width: 100%;
    }
    &::part(r-header) {
      background-color: var(--qti-bg-active, #f8f8f8);
      font-weight: 500;
      text-align: center;
      padding: 8px 15px;
      border: 1px solid #ddd;
      width: auto;
      word-wrap: break-word;
      white-space: wrap;
      min-width: 4rem;
    }
    &::part(c-header) {
      background-color: var(--qti-bg-active, #f8f8f8);
      font-weight: 500;
      text-align: left;
      padding: 8px;
      border: 1px solid #ddd;
      width: 8rem;
      white-space: normal;
    }
    &::part(row) {
      border-bottom: 1px solid #ddd;
    }
    &::part(input-cell) {
      text-align: center;
      vertical-align: middle;
      height: 48px;
      border: 1px solid #ddd;
      padding: 8px;
      width: 1%;
    }
    &::part(rb) {
      appearance: none;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid var(--qti-border-active, #2196f3);
      background-color: transparent !important;
      margin: 0 auto;
      cursor: pointer;
      display: block;
    }
    &::part(rb-checked) {
      box-shadow: inset 0 0 0 6px var(--qti-border-active, #2196f3);
    }
    &::part(cb) {
      appearance: none;
      width: 24px;
      height: 24px;
      border-radius: 3px;
      border: 2px solid var(--qti-border-active, #2196f3);
      background-color: transparent !important;
      margin: 0 auto;
      cursor: pointer;
      display: block;
    }
    &::part(cb-checked) {
      background-color: var(--qti-border-active, #2196f3) !important;
    }
    &::part(checkmark) {
      position: absolute;
      width: 18px;
      height: 18px;
      top: 3px;
      left: 3px;
      pointer-events: none;
    }
    &::part(rb-correct) {
      border-color: var(--qti-correct, #4caf50);
    }
    &::part(rb-checked rb-correct) {
      box-shadow: inset 0 0 0 6px var(--qti-correct, #4caf50);
    }
    &::part(cb-correct) {
      border-color: var(--qti-correct, #4caf50);
    }
    &::part(cb-checked cb-correct) {
      background-color: var(--qti-correct, #4caf50) !important;
    }
    &::part(rb-incorrect) {
      border-color: var(--qti-incorrect, #f44336);
    }
    &::part(rb-checked rb-incorrect) {
      box-shadow: inset 0 0 0 6px var(--qti-incorrect, #f44336);
    }
    &::part(cb-incorrect) {
      border-color: var(--qti-incorrect, #f44336);
    }
    &::part(cb-checked cb-incorrect) {
      background-color: var(--qti-incorrect, #f44336) !important;
    }
  }
  qti-match-interaction:not(.qti-match-tabular) {
    &:state(--dragzone-enabled) qti-simple-match-set:first-of-type {
      @apply dropping;
    }
    &:state(--dragzone-active) qti-simple-match-set:first-of-type {
      @apply act;
    }
    & qti-simple-match-set:first-of-type {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: var(--qti-gap-size);
      border: 2px solid transparent;
      & qti-simple-associable-choice {
        @apply drag;
        &[dragging] {
          @apply dragging;
        }
        &:hover {
          @apply hov;
        }
        &:focus {
          @apply foc;
        }
      }
    }
    & qti-simple-match-set:last-of-type {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-auto-flow: unset;
      grid-auto-columns: unset;
      gap: var(--qti-gap-size);
      & > qti-simple-associable-choice {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-row: unset;
        box-sizing: border-box;
        & img {
          max-width: 100%;
          height: auto;
        }
        &[enabled] {
          &::part(dropslot) {
            @apply dropping;
          }
        }
        &[disabled] {
          &::part(dropslot) {
            @apply dis;
          }
        }
        &[active] {
          &::part(dropslot) {
            @apply act;
          }
        }
        &::part(dropslot) {
          @apply drop;
          &[dragging] {
            @apply dragging;
          }
          &:focus {
            @apply foc;
          }
          padding: var(--qti-dropzone-padding);
          margin-top: 0.5rem;
          gap: 0.5rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
        }
        & > *:not(qti-simple-associable-choice) {
          pointer-events: none;
        }
        & > qti-simple-associable-choice {
          @apply drag;
          &:state(candidate-correct) {
            background-color: var(--qti-correct);
          }
          &:state(candidate-incorrect) {
            background-color: var(--qti-incorrect);
          }
          &::part(dropslot) {
            display: none;
          }
          &:hover {
            @apply hov;
          }
          &:focus {
            @apply foc;
          }
          flex-basis: fit-content;
        }
      }
    }
  }
}
