@layer qti-components {
  qti-extended-text-interaction {
    &::part(textarea) {
      @apply text;
    }
    &:hover {
      @apply hov;
    }
    &:focus-within {
      &::part(textarea) {
        @apply foc act-bor;
      }
    }
  }
}
