@layer qti-components {
  qti-graphic-associate-interaction {
    &::part(message) {
      @apply validation-message;
    }
    position: relative;
    display: block;
    & qti-associable-hotspot {
      &[shape='circle'] {
        @apply spot;
        &:hover {
          @apply hov;
        }
        &:focus {
          @apply foc;
        }
        &[aria-checked='true'] {
          @apply act;
        }
        &[aria-readonly='true'] {
          @apply rdo;
        }
        &[aria-disabled='true'] {
          @apply dis;
        }
      }
      &[shape='square'] {
        @apply spot;
        &:hover {
          @apply hov;
        }
        &:focus {
          @apply foc;
        }
        &[aria-checked='true'] {
          @apply act;
        }
        &[aria-readonly='true'] {
          @apply rdo;
        }
        &[aria-disabled='true'] {
          @apply dis;
        }
      }
    }
    &.qti-selections-light {
      &:state(--dragzone-active)::part(drags) {
        background-color: var(--qti-light-bg-active);
        border-color: var(--qti-light-border-active);
      }
      &:state(--dragzone-enabled)::part(drags) {
        background-color: var(--qti-light-bg-active);
      }
    }
    &.qti-selections-dark {
      &:state(--dragzone-active)::part(drags) {
        background-color: var(--qti-dark-bg-active);
        border-color: var(--qti-dark-border-active);
      }
      &:state(--dragzone-enabled)::part(drags) {
        background-color: var(--qti-dark-bg-active);
      }
    }
    &:state(--dragzone-active)::part(drags) {
      @apply act;
    }
    &:state(--dragzone-enabled)::part(drags) {
      @apply dropping;
    }
  }
}
