@layer qti-components.interactions.base {
  qti-extended-text-interaction {
    &::part(textarea) {
      @mixin text;
    }
  }

  qti-extended-text-interaction {
    &::part(textarea) {
      @mixin field-typography;
      padding: 0.6rem 0.75rem 0.75rem;
    }
  }
}

@layer qti-components.interactions.corrections {
  qti-extended-text-interaction {
    &.correct::part(textarea) {
      @mixin candidate text, var(--qti-correct), var(--qti-correct-light);
      padding-left: 2.4rem;
    }

    &.partiallyCorrect::part(textarea) {
      @mixin candidate text, var(--qti-fg), var(--qti-partially-correct-light);
      border-color: var(--qti-partially-correct);
      padding-left: 2.4rem;
    }

    &.incorrect::part(textarea) {
      @mixin candidate text, var(--qti-incorrect), var(--qti-incorrect-light);
      padding-left: 2.4rem;
    }
  }
}
