@layer qti-components {
  qti-hottext-interaction {
    &::part(message) {
      @apply validation-message;
    }
    qti-hottext {
      display: inline-flex;
      align-items: center;
      @apply check;
      &:hover {
        @apply hov;
      }
      &:focus {
        @apply foc;
      }
      &::part(control-mark) {
        @apply check-size;
      }
      &:state(radio)::part(control) {
        @apply check-radio;
      }
      &:state(radio):state(checked)::part(control-mark) {
        @apply check-radio-checked;
      }
      &:state(checkbox)::part(control) {
        @apply check-checkbox;
      }
      &:state(checkbox):state(checked)::part(control-mark) {
        @apply check-checkbox-checked;
      }
      &:state(correct-response),
      &[data-correct-response='true'] {
        &::after {
          content: '\02714';
          color: var(--qti-correct);
        }
      }
    }
    &.qti-input-control-hidden {
      qti-hottext {
        @apply button;
        &:hover {
          @apply hov;
        }
        &:focus {
          @apply foc;
        }
        &::part(control) {
          display: none;
        }
        &:state(checked) {
          @apply act;
        }
        &:state(readonly) {
          @apply readonly;
        }
        &:state(disabled) {
          @apply dis;
        }
      }
    }
    &.qti-unselected-hidden {
      qti-hottext {
        &:hover {
          @apply hov;
        }
        &:focus {
          @apply foc;
        }
        cursor: pointer;
        &::part(control) {
          display: none;
        }
        &:state(checked) {
          background-color: var(--qti-bg-active);
        }
        &:state(readonly) {
          @apply readonly;
        }
        &:state(disabled) {
          @apply dis;
        }
      }
    }
  }

  qti-hottext-interaction.qti-input-control-hidden qti-hottext {
    background-color: var(--qti-bg);
    padding: 0.2rem 0.5rem;
    margin: 0.1rem 0;

    &:state(checked) {
      background-color: var(--qti-selected-bg);
      color: var(--qti-selected-color);
    }

    &::before {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      vertical-align: -0.15em;
      margin-right: 0.25rem;
    }

    &:state(candidate-correct) {
      @mixin candidate-tint var(--qti-correct), var(--qti-correct-light);
    }

    &:state(candidate-incorrect) {
      @mixin candidate-tint var(--qti-incorrect), var(--qti-incorrect-light);
    }
  }

  qti-hottext-interaction.qti-unselected-hidden qti-hottext:not(:state(checked)) {
    border: none;
    padding: 0.2rem 0;
    margin-top: calc(0.1rem + var(--qti-border-thickness));
    margin-bottom: calc(0.1rem + var(--qti-border-thickness));
    background-color: transparent;
  }

  .full-correct-response qti-hottext-interaction qti-hottext:state(checked)::before {
    @mixin answer-check;
  }
}
