@layer qti-components.interactions.base {
  qti-prompt {
    margin: var(--qti-padding-vertical) 0;
    display: block;
    width: 100%;
  }
}

@layer qti-components.interactions.corrections {
  qti-noop-corrections-layer-placeholder {
    --qti-corrections-layer-present: 1;
  }
}
