@layer qti-components {
  qti-hotspot-interaction {
    & qti-hotspot-choice {
      &[shape='circle'] {
        @apply spot;
        &:hover {
          @apply hov;
        }
        &:focus {
          @apply foc;
        }
        &:state(--checked),
        &[aria-checked='true'] {
          @apply act-bor;
        }
        &:state(--readonly),
        &[aria-readonly='true'] {
          @apply rdo;
        }
        &:state(--disabled),
        &[aria-disabled='true'] {
          @apply dis;
        }
      }
      &[shape='rect'] {
        @apply spot;
        &:focus {
          @apply foc;
        }
        &:state(--checked),
        &[aria-checked='true'] {
          @apply act-bor;
        }
        &[aria-readonly='true'] {
          @apply rdo;
        }
        &[aria-disabled='true'] {
          @apply dis;
        }
      }
      &[shape='poly'] {
        &:hover::after {
          content: '';
          width: 100%;
          height: 100%;
          background: repeating-linear-gradient(
            45deg,
            var(--qti-border-active),
            var(--qti-border-active) 5px,
            transparent 5px,
            transparent 10px
          );
          display: block;
        }
        &:state(--checked)::after,
        &[aria-checked='true']::after {
          content: '';
          width: 100%;
          height: 100%;
          background: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 5px,
            var(--qti-border-active) 5px,
            var(--qti-border-active) 10px
          );
          display: block;
        }
        &[aria-readonly='true'] {
          @apply rdo;
        }
        &[aria-disabled='true'] {
          @apply dis;
        }
      }
    }
  }
}
