@layer qti-components {
  qti-select-point-interaction {
    &::part(point) {
      &:hover {
        @apply hov;
      }
      &:focus {
        @apply foc;
      }
      @apply point;
    }
    &::part(correct) {
      background-color: var(--qti-correct);
    }
    &::part(incorrect) {
      background-color: var(--qti-incorrect);
    }
  }
}
