@layer qti-components.interactions.base {
  qti-slider-interaction {
    --qti-tick-color: rgb(229 231 235 / 100%);
    --qti-tick-width: 1px;
  }
}

@layer qti-components.interactions.corrections {
  qti-noop-corrections-layer-placeholder {
    --qti-corrections-layer-present: 1;
  }
}
