@layer qti-components.interactions.base {
  qti-select-point-interaction {
    color: var(--qti-primary);

    &::part(point) {
      &:hover {
        @mixin hov;
      }
      &:focus {
        @mixin foc;
      }
    }

    &::part(correct) {
      color: var(--qti-correct);
    }

    &::part(incorrect) {
      color: var(--qti-incorrect);
    }
  }
}
