@layer qti-base, qti-components, qti-utilities, qti-variants, qti-extended;

@import url('./styles/qti-native/index.css');
@import url('./styles/qti-theme/index.css');

[view],
qti-outcome-declaration,
qti-response-declaration {
  display: none;
}

[view].show {
  display: block;
}

:host {
  box-sizing: border-box;
}

qti-test-part:not(:has(qti-assessment-item)),
qti-assessment-section:not(:has(qti-assessment-item)),
qti-assessment-item-ref:not(:has(qti-assessment-item)) {
  display: none;
}

div.full-correct-response {
  border: 1px solid #39a7c0;
  background-color: #d9e8ee;
}

div.full-correct-response-block {
  display: block;
  margin-top: var(--qti-padding-vertical);
  padding: 0.5rem;
}

div.full-correct-response-inline {
  display: inline-block;
  margin-left: var(--qti-padding-horizontal);
  margin-right: var(--qti-padding-horizontal);
  padding: 0.2rem;
}
