@layer qti-base, qti-components, qti-utilities, qti-variants, qti-extended;

@import url('./styles/qti-base.css');

/* base */
@import url('./styles/qti-base/qti3p0.css');
@import url('./styles/qti-base/item-layout');
@import url('./styles/qti-base/item-view');

/* components */
@import url('./styles/qti-components/qti-interactions');

qti-test-part:not(:has(qti-assessment-item)),
qti-assessment-section:not(:has(qti-assessment-item)),
qti-assessment-item-ref:not(:has(qti-assessment-item)) {
  display: none;
}

qti-hottext-interaction::part(message),
qti-choice-interaction::part(message),
qti-association-interaction::part(message),
qti-graphic-association-interaction::part(message),
qti-graphic-gap-match-interaction::part(message),
qti-graphic-order-interaction::part(message),
qti-math-interaction::part(message) {
  display: none;
  color: var(--qti-validation-text, #000);
  background-color: var(--qti-validation-error-bg, #fff);
  padding: 10px;
  border: 3px solid var(--qti-validation-text, #000);
  border-radius: 4px;
  margin-top: 8px;
}

div.full-correct-response {
  border: 1px solid #39a7c0;
  background-color: #d9e8ee;
}

div.full-correct-response-block {
  display: block;
  margin-top: var(--qti-padding-vertical);
  padding: 0.5rem;
}

div.full-correct-response-inline {
  display: inline-block;
  margin-left: var(--qti-padding-horizontal);
  margin-right: var(--qti-padding-horizontal);
  padding: 0.2rem;
}
