@layer qti-base {
  abbr[title] {
    text-decoration: underline dotted;
  }
  b,
  strong {
    font-weight: bolder;
  }
  code,
  kbd,
  samp,
  pre {
    font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  small {
    font-size: 80%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  /* Set table borders */
  table,
  th,
  td {
    border-bottom: 1px solid #eee;
  }
  td {
    padding: 0.5rem 0 0.5rem 0;
  }

  td > p {
    padding: 0;
    margin: 0;
  }

  th {
    text-align: left;
  }
  /* Style table header */
  th {
    font-weight: bold;
    /* background-color: #f2f2f2; */
  }

  /* Style alternating rows */
  tr:nth-child(even) {
    /* background-color: #f9f9f9; */
  }

  /* Add hover effect to rows */
  tr:hover {
    /* background-color: #e6e6e6; */
  }
}
