html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  line-height: 1.75;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;

  /* color: red;
  cursor: pointer;
  direction: rtl;
  font:
    italic small-caps bold 12px/30px Georgia,
    serif;
  letter-spacing: 1rem;
  line-height: 2rem;
  text-align: right;
  text-indent: 2rem;
  text-transform: uppercase;
  visibility: visible;
  word-spacing: 1rem; */
}
