qti-rubric-block {
  border: var(--qti-border-thickness) solid var(--info-color);
  background-color: var(--bs-info-bg-subtle);
  border-radius: var(--qti-border-radius);
  padding: var(--qti-padding-vertical) var(--qti-padding-horizontal);
  margin-top: 0.7rem;
}
