@layer qti-base, qti-components, qti-utilities, qti-variants, qti-extended;

/* base */
@import '@unocss/reset/normalize.css';
@import './styles/qti-base/item-prose';
@import './styles/qti-base/item-layout';
@import './styles/qti-base/item-view';
@import './styles/qti-base/item-popup';

/* components */
@import './styles/qti-components/qti-interactions';

/* utilities */
@import './styles/qti-utilities/qti-styles';

/* variants */
@import './styles/qti-variants/qti-input-width';
@import './styles/qti-variants/qti-interactions';

@unocss;
